
// Body
$body-bg:white;
//$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif:'PT Sans', sans-serif;
$font-size-base: 0.78rem;
//$text-color: #bbbbbb;
$line-height-base: 1.6;


//NABVAR
$navbar-default-color: #343A40 !default;
$navbar-default-color: #777;


//$brand-primary: #b4cd58;
//$brand-info: #8eb4cb;
//$brand-success: #2ECC71;
//$brand-warning: #F1C40F;
//$brand-danger: #E74C3C;

$dropdown-link-hover-bg:  #b4cd58 !default;

$navbar-inverse-toggle-icon-bar-bg: #fff !default;



$brand-primary: #62c2bc;
$brand-info: #8eb4cb;
$brand-success: #2ECC71;
$brand-warning: #F1C40F;
$brand-danger: #E74C3C;